@tailwind base;
@tailwind components;   
@tailwind utilities;

@font-face {
    font-family: 'Tungsten-bold';
    src: local('Tungsten-bold'), url(./fonts/Tungsten/Tungsten-Bold.woff) format('woff');
}
  
@font-face {
    font-family: 'Tungsten-semibold';
    src: local('Tungsten-semibold'), url(./fonts/Tungsten/Tungsten-Semibold.woff) format('woff');
}

body {
    /* font-family: 'Tungsten-semibold', Arial, serif; */
    overscroll-behavior: none;
    -ms-overflow-style: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: none; */
} 

 #progress {
    transform: rotate(-90deg);
  }

  .progres-wrapper:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    top: 0px;
    left: 0px;
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 3%;
    fill: none;
  }
  
  .bg {
    stroke: #fafafa;
    opacity: 0.3;
  }
  
  #progress .indicator {
    stroke: #fafafa;
  } 

